// Definisjon av farger som skal brukes i stilarket
$steelBlue: #4D7EA8;
$powderBlue: #8EA8C3;
$platinum: #E0E0E0;
$mulberry: #B95F89;
$yinMnBlue: #465775;
$smoke: #F5F5F5;
$white: #fff;
$black: #000;