.modal {
    /* Bakgrunnsfarge satt til variabelen $olivine */
    background-color: $powderBlue;

    // Bruker flexbox for layout, senterer innholdet horisontalt og vertikalt
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem; /* Avstand mellom barn-elementer */
    padding: 1.5rem; /* Innvendig margin */

    // Plasserer modalen fast på skjermen, justert etter vinduets størrelse
    position: fixed; // Fester modalen på skjermen
    top: 30%; // Plasserer modalen 30% ned fra toppen av vinduet
    left: 50%; // Plasserer modalen 50% inn fra venstre kant av vinduet
 
    
    transform: translate(-50%, -50%); // Sentraliserer modalen på X- og Y-aksen

    border-color: $mulberry;
    border-radius: 10px;
    border-style: solid;
    width: 30vw; /* Bredde satt til 30% av visningsvinduets bredde */

    color: $white;
    font-weight: $fontWeight;

    // Innstilling for p- og svg-elementer inni modalen
    p, svg {
        display: inline-block; // Viser dem som inline-blocks for å kunne bruke margin/padding osv.
    }
}
